@font-face{
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans-VariableFont_wght.ttf');
}

:root{
  --White: hsl(0, 0%, 100%);
  --Light-pink: hsl(275, 100%, 97%);
  --Grayish-purple: hsl(292, 16%, 49%);
  --Dark-purple: hsl(292, 42%, 14%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Work Sans', sans-serif;
  background-color: var(--Light-pink);
  background-image: url(./assets/images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  font-size: 16px;
}

main{
  background-color: var(--White);
  width: 80%;
  border-radius: 8px;
  padding: 8px 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  & header{
    display: flex;
    gap: 12px;

    & h1{
      color: var(--Dark-purple);
    }
  }

  & ul{
    list-style: none;

    & li{
      border-bottom: 1px solid var(--Light-pink);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 16px;
      padding: 16px 0;

      & div{
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        & h2{
          font-size: 16px;
          color: var(--Dark-purple);
        }
  
        & img{
          cursor: pointer;
        }
      }

      & .content{
        color: var(--Grayish-purple);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        transition: all ease 0.3s;
        display: none;
      }

      & .active{
        display: block;
      }
    }

    & li:last-child{
      border-bottom: none;
    }
  }
}

footer{
  font-size: 12px;
  text-align: center;
  color: var(--Grayish-purple);

  & a{
    text-decoration: none;
    color: var(--Dark-purple);
  }

  & a:hover{
    text-decoration: underline;
  }
}